{% extends "base.html" %}

{% block content %}
<table class="table table-striped table-hover">
    <thead>
        <tr>
            <th>№</th>
            <th>Назва турніру</th>
            <th>Кількість турнірів</th>
            <th>Дата проведення</th>
            <th>Кількість гравців</th>
        </tr>
    </thead>
    <tbody>
        {% for tournament in tournaments %}
            <tr>
                <td>{{ loop.index }}</td>
                <td>{{ tournament.name }}</td>
                <td>{{ tournament.count }}</td>
                <td>{{ tournament.date }}</td>
                <td>{{ tournament.players }}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock content %}