{% extends "base.html" %}

{% block content %}
<table class="table table-striped table-hover">
    <thead>
        <tr>
            <th>ID</th>
            <th>Гравець</th>
            <th>Інформація про гравця</th>
            <th>Команда та турнір</th>
        </tr>
    </thead>
    <tbody>
        {% for player in players %}
            <tr>
                <td>{{ player.id }}</td>
                <td>{{ player.name }}</td>
                <td>{{ player.description }}</td>
                <td>{{ player.team }}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock content %}