{% extends "base.html" %}

{% block content %}
<table class="table table-striped table-hover">
    <thead>
        <tr>
            <th>ID</th>
            <th>Назва турніру</th>
            <th>Місце проведення</th>
            <th>Опис</th>
        </tr>
    </thead>
    <tbody>
        {% for tournament in tournaments %}
            <tr>
                <td>{{ tournament.id }}</td>
                <td>{{ tournament.name }}</td>
                <td>{{ tournament.location }}</td>
                <td>{{ tournament.description }}</td>
                <td>{{ tournament.count }}</td>
                <td>{{ tournament.date }}</td>
                <td>
                    {% for player in tournament.players.all %}
                        {{ player.name }},
                    {% endfor %}
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock content %}